bioinformatics_bootcamp/bioinformatics_bootcamp/acetylcholinesterase_06_bioactivity_data_3class_pIC50_pubchem_fp.csv
.gitignore.save
bioinformatics_bootcamp/descriptors_output.csv
bioinformatics_bootcamp/molecule.smi
bioinformatics_bootcamp/CDD_ML_Part_5_Acetylcholinesterase_Compare_Regressors.ipynb
bioinformatics_bootcamp/gitignore/
bioinformatics_bootcamp/acetylcholinesterase_06_bioactivity_data_3class_pIC50_pubchem_fp.csv
bioinformatics_bootcamp/CDD_ML_Part_5_Acetylcholinesterase_Compare_Regressors
.ipynb_checkpoints/
*/.ipynb_checkpoints/
bioinformatics_bootcamp/mannwhitneyu_LogP.csv
bioinformatics_bootcamp/mannwhitneyu_NumHAcceptors.csv
bioinformatics_bootcamp/mannwhitneyu_MW.csv
bioinformatics_bootcamp/acetylcholinesterase_01_bioactivity_data_raw.csv
bioinformatics_bootcamp/acetylcholinesterase.zip
bioinformatics_bootcamp/acetylcholinesterase_03_bioactivity_data_curated.csv
bioinformatics_bootcamp/mannwhitneyu_NumHDonors.csv
bioinformatics_bootcamp/mannwhitneyu_pIC50.csv
bioinformatics_bootcamp/plot_bioactivity_class.pdf
bioinformatics_bootcamp/plot_ic50.pdf
bioinformatics_bootcamp/plot_LogP.pdf
bioinformatics_bootcamp/bioinformatics_bootcamp//Users/isabellapelosi/Documents/Bioinformatics/first_repo/bioinformatics_bootcamp/acetylcholinesterase_03_bioactivity_data_curated.csv 
bioinformatics_bootcamp/acetylcholinesterase_01_bioactivity_data_raw.csv
bioinformatics_bootcamp/acetylcholinesterase_02_bioactivity_data_preprocessed
bioinformatics_bootcamp/acetylcholinesterase_03_bioactivity_data_curated.csv
bioinformatics_bootcamp/acetylcholinesterase_05_bioactivity_data_2class_pIC50.csv
bioinformatics_bootcamp/acetylcholinesterase_07_bioactivity_data_2class_pIC50_pubchem_fp.csv
bioinformatics_bootcamp/acetylcholinesterase_04_bioactivity_data_3class_pIC50
bioinformatics_bootcamp/plot_MW_vs_LogP.pdf
bioinformatics_bootcamp/plot_MW.pdf
bioinformatics_bootcamp/plot_NumHAcceptors.pdf
bioinformatics_bootcamp/plot_NumHDonors.pdf
bioinformatics_bootcamp/results.zip
bioinformatics_bootcamp/acetylcholinesterase_02_bioactivity_data_preprocessed.csv
bioinformatics_bootcamp/bioactivity_data_raw.csv
bioinformatics_bootcamp/CDD_ML_Part_1_Bioactivity_Data_Concised.ipynb
bioinformatics_bootcamp/CDD_ML_Part_4_Acetylcholinesterase_Regression_Random_Forest.ipynb
bioinformatics_bootcamp/acetylcholinesterase_04_bioactivity_data_3class_pIC50.csv
bioinformatics_bootcamp/acetylcholinesterase_05_bioactivity_data_2class_pIC50.csv
bioinformatics_bootcamp/CDD_ML_Part_2_Exploratory_Data_Analysis.ipynb
.DS_Store


alphafold_review/practice_code1.ipynb
alphafold_review/.gitignore
README.md
section_2.txt
filter_mantamonis.py
mantamonis_filtering.ipynb

